* {
    font-family: 'Familjen Grotesk', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

#checkbox {
    display: none;
}

.fs-13 {
    font-size: 13px;
}

.primary-text-color {
    color: #111F3C;
}

.secondary-text-color {
    color: #616161;
}

/* Hero Section Styles */
.herosection {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Right Side Styles */
.rightside {
    height: 100%;
}

.rightside #newsCards {
    height: 60vh;
}

.hero-image {
    height: 60vh;
    width: 100%;
    object-fit: cover;
}

/* navbar styles */
nav {
    background-color: #111F3C;
    color: white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.navbar {
    padding: 13px 10px 13px 10px;
}


#checkbox {
    display: none;
}

.toggle {
    position: absolute;
    width: 25px;
    height: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    transition-duration: .3s;
    right: 25px;
    top: 25px;
    z-index: 1000;
}

.bars {
    width: 100%;
    height: 2px;
    background-color: rgb(253, 255, 243);
    border-radius: 5px;
    transition-duration: .3s;
}

#bar4,
#bar5 {
    display: none;
}

#checkbox:checked+.toggle #bar4 {
    display: flex;
    transform: translateY(10px) translateX(4px) rotate(25deg);
    margin-left: 0;
    transform-origin: right;
    transition-duration: .3s;
    z-index: 2;
    width: 12px;
}

#checkbox:checked+.toggle #bar5 {
    display: flex;
    transform: translateY(-2.5px) translateX(-6.5px) rotate(-25deg);
    margin-left: 0;
    transform-origin: right;
    transition-duration: .3s;
    z-index: 2;
    width: 13px;
}

#checkbox:checked+.toggle #bar2 {
    transform: translateY(19px) translateX(-5px) rotate(70deg);
    margin-left: 0;
    transform-origin: right;
    transition-duration: .3s;
    z-index: 2;
    width: 30px;
}

#checkbox:checked+.toggle #bar1 {
    transform: translateY(27px) translateX(4px) rotate(-70deg);
    transition-duration: .3s;
    transform-origin: left;
    z-index: 1;
    width: 30px;
}

#checkbox:checked+.toggle {
    transform: rotate(45deg);
}

#checkbox:checked+.toggle #bar3 {
    transform: translateY(12px) rotate(2deg);
    transition-duration: .3s;
    transform-origin: right;
    display: none;
}

.secondary-navbar {
    background-color: #F7F9FF;
}

.header-link {
    color: white;
    font-size: 18px;
}

.header-link:hover {
    color: #EC7100;
}

.custom-navlink {
    font-size: 18px;
    font-weight: 500;
}

.nav-link {
    font-size: 18px;
    color: black;
}

.nav-tabs .nav-link:hover {
    border: none;
}

.nav-tabs .nav-link.active {
    position: relative;
    background-color: transparent;
    padding-bottom: 0.5rem;
}

.nav-tabs .nav-link.active:hover::before {
    width: 100%;
}

.nav-tabs .nav-link {
    position: relative;
}

.nav-tabs .nav-link.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color: #111F3C;
    transform: translateX(-50%);
    animation: expand 0.3s ease-out forwards;
}

@keyframes expand {
    0% {
        width: 0;
    }

    100% {
        width: 80%;
    }
}

.nav-tabs .nav-link {
    color: black;
}

.nav-pills .nav-link.active {
    background: #F7F9FF;
    box-shadow: 6px 6px 12px #c5c5c5, -4px -4px 12px #ffffff;
}

.nav-pills .nav-item button {
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #F7F9FF;
    cursor: pointer;
    border: 1px solid #F7F9FF;
    transition: all 0.3s;
    box-shadow: 2px 2px 4px #c5c5c5, -6px -6px 12px #ffffff;
}

.nav-pills .nav-item button:hover {
    border: 1px solid white;
}

#riveCanvas {
    width: 45px;
}

.sort-btn {
    color: #111F3C;
    background-color: transparent;
    border-radius: 10px;
    padding: 6px 0px;
}

.sort-btn:hover {
    color: white;
    background-color: #24324e;
}

.badge {
    background-color: #EC7100;
    z-index: 1;
    border-radius: 0;
}

.trending {
    background-color: linear-gradient(to bottom, #FFFFFF 0%, #E5E8FF 100%);
}

.trending-section-right-section {
    background-color: #F7F9FF;
    overflow-y: auto;
    height: 470px;
}

.carousel-button {
    background-color: #041A40;
    border-radius: 50%;
}

.carousel-button:hover {
    background-color: #041A40;
    color: white;
}

.subscribe-section {
    background: linear-gradient(to bottom, #FFFFFF 0%, #E5E8FF 100%);
    border-radius: 30px;
}

.subscribe-btn {
    border: 2px solid #EC7100;
    color: #EC7100;
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.subscribe-btn:hover {
    background-color: #EC7100;
    color: white;
}

.view-more-btn {
    color: #111F3C;
    background-color: transparent;
}

.view-more-btn:hover {
    color: white;
    background-color: #24324e;
}

/* footer styles */
/* footer styles */
footer {
    background-color: #111F3C;
    color: white;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}

.footer-link:hover {
    color: #EC7100;
}

.footer-secondary-link {
    color: white;
    font-size: 16px;
}

.footer-secondary-link:hover {
    color: #EC7100;
}

.footer-link {
    position: relative;
    display: inline-block;
    color: inherit;
    font-size: 16px;
    color: white;
}

.footer-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #EC7100;
    transition: width 0.3s ease;
}

.footer-link:hover::after {
    width: 100%;
}

/* social media button styles */
.social-media-btn {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.4s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.instagram {
    background: #f09433;
    background: -moz-linear-gradient(45deg,
            #f09433 0%,
            #e6683c 25%,
            #dc2743 50%,
            #cc2366 75%,
            #bc1888 100%);
    background: -webkit-linear-gradient(45deg,
            #f09433 0%,
            #e6683c 25%,
            #dc2743 50%,
            #cc2366 75%,
            #bc1888 100%);
    background: linear-gradient(45deg,
            #f09433 0%,
            #e6683c 25%,
            #dc2743 50%,
            #cc2366 75%,
            #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.facebook {
    background-color: #1877f2;
}

.youtube {
    background-color: #ff0000;
}

.linkedin {
    background-color: #0077b5;
}

.social-media-btn:hover {
    width: 110px;
    transition-duration: 0.4s;
    border-radius: 30px;
}

.social-media-btn:hover .social-media-text {
    opacity: 1;
    transition-duration: 0.4s;
}

.social-media-btn:hover .social-media-icon {
    opacity: 0;
    transition-duration: 0.3s;
}

.social-media-text {
    position: absolute;
    color: rgb(255, 255, 255);
    width: 120px;
    font-weight: 600;
    opacity: 0;
    transition-duration: 0.4s;
}

.social-media-icon {
    transition-duration: 0.3s;
}

/* Base styles for Store buttons */
.playstore-btn,
.appstore-btn {
    background-color: black;
    color: white;
    transition: all 0.8s ease;
    height: 60px;
    border-radius: 30px;
    width: 180px;
    border: 1px solid black;
}

.playstore-icon,
.appstore-icon {
    color: white;
    transition: color 0.8s ease;
}

.playstore-btn:hover,
.appstore-btn:hover {
    background-color: white;
    color: black;
    border-color: white;
}

.playstore-btn:hover .playstore-icon,
.appstore-btn:hover .appstore-icon {
    color: black;
}

.playstore-text,
.appstore-text {
    font-size: 12px;
}


/* refer button styles */
.refer-Btn {
    border: none;
    padding: 3px 10px 3px 10px;
    font-size: 16px;
}

.hiring-Btn {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 5px 30px 6px 6px;
    border: none;
    color: #111F3C;
    font-weight: 300 !important;
    font-size: 16px;
    flex-wrap: nowrap;
    display: flex;
    position: relative;
}

#partyPopper {
    position: absolute;
    right: -18px;
    bottom: 5px;
    width: 70px;
}

/* Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #F7F7F7;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
    border-radius: 10px;
    border: 2px solid #F7F7F7;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #D9D9D9;
}

/* For Firefox */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #D9D9D9 #F7F7F7;
}

/* For Internet Explorer and Edge */
.custom-scrollbar {
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

@media (max-width: 767.98px) {
    .custom-navlink {
        font-size: 10px;
        font-weight: 600;
    }

    #pills-Bengaluru-tab {
        width: 100%;
    }

    .nav-tabs .nav-link.active {
        width: 110%;
    }

    .rightside #newsCards {
        height: 100%;
    }

    .trending-section-right-section {
        height: 4100%;
    }
}

@media (max-width: 767px) {
    .hero-image {
        height: 80vh;
        width: 100%;
    }

    .custom-navlink {
        font-size: 10px;
        font-weight: 600;
    }

    #pills-Bengaluru-tab {
        width: 100%;
    }

    .nav-tabs .nav-link.active {
        width: 110%;
    }

    .trending-section-right-section {
        height: 4100%;
    }
}

/* Mobile view slider styles */
.slider {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.slide {
    flex: 0 0 85%;
    scroll-snap-align: center;
}

.slider::-webkit-scrollbar {
    display: none;
}

.slide img {
    object-fit: cover;
    height: auto;
}

/* For screens smaller than 420px */
@media only screen and (max-width: 420px) {
    .slider {
        padding: 0;
    }

    .slide {
        margin-right: 5%;
    }

    .slide img {
        margin: 0;
    }
}